<launch>

   <machine name="ground_station" address="192.168.10.2" user="gnclab" password="kashishdhal" env-loader="/home/gnclab/catkin_ws/src/asl_gremlin_pkg/bash_scripts/ground_station_ros_env.sh"/>
   
      <machine name="robot" address="192.168.10.4" user="odroid" password="odroid" env-loader="/home/odroid/asl_gremlin_pkg/src/asl_gremlin_pkg/robot_ros_env.sh"/>

	<arg name="arduino_port" default="/dev/ttyACM0" />
	<arg name="robot_name" default="asl_gremlin1" />
	
    <!--
	<include file="$(find asl_gremlin_pkg)/launch/launch_mavros_rosserial.launch" >
			<arg name="robot_name" value="$(arg robot_name)" />
			<arg name="arduino_port" value="$(arg arduino_port)" />
	</include>
    
    
    <group>
    
    <machine name="ground_station" address="192.168.10.2" user="gnclab" password="kashishdhal" env-loader="/home/gnclab/catkin_ws/src/asl_gremlin_pkg/bash_scripts/ground_station_ros_env.sh"/>
    
	<include file="$(find asl_gremlin_pkg)/launch/launch_asl_gremlin_pkg.launch" >
			<arg name="robot_name" value="$(arg robot_name)" />
	</include>

	<include file="$(find vicon_bridge)/launch/vicon.launch"/>
	-->
	<node machine="ground_station"  
        pkg="px4_test_example"
        name="quatToEuler"
        type="aslRoverYaw"
        respawn="true"
        output="screen" />
	<!--
	<include file="$(find asl_gremlin_pkg)/launch/rosbag.launch" />	
</group>   -->
</launch>

